.container
  .masthead
    %h3.muted Moviegems
    .navbar
      .navbar-inner
        .container
          %ul.nav
            %li= link_to 'Home', root_path
            %li= link_to 'Recent Movies', root_path
            %li= link_to 'Recent Movies', root_path
            %li= link_to 'Recent Movies', root_path
            %li= link_to 'About', root_path
            %li= link_to 'Contact', root_path
  .jumbotron
    %h1 Moviegem of the Day!
    %p.lead SOME FILM HERE
